<%= form_for(@fixture, html: {class: 'form-horizontal'}) do |f| %>
  <% if @fixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
      <% @fixture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :stage, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :stage, %W(Group KnockOut) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :competent1, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.grouped_collection_select(:competent1_id, @groups, :competents, :to_opt_group, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :competent2, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.grouped_collection_select(:competent2_id, @groups, :competents, :to_opt_group, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :referee, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :referee_id, Referee.all.collect {|r| [r.name, r.id] } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :match_date, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.date_select :match_date %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :match_time, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.time_select :match_time, {ampm: true, minute_step: 5, start_hour: 12, end_hour: 20} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
