<h1>Listing fixtures</h1>

<table>
  <tr>
    <th>Competent1</th>
    <th>Competent2</th>
    <th>Match date</th>
    <th>Match time</th>
    <th>Match begin</th>
    <th>Set Winner</th>
    <th>Set diff</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
    <td><%= fixture.competent1 %></td>
    <td><%= fixture.competent2 %></td>
    <td><%= fixture.matchDate.to_s(:long) %></td>
    <td><%= fixture.matchTime.to_s(:time) %></td>
    <td><%= fixture.matchBegin %></td>
    <% if !fixture.results.empty? %>
        <td><%= fixture.results.group('winner_id').order('count(id) desc').first.try(:winner) %></td>
        <td><%= fixture.results.group('winner_id').count('id').values.sort.reverse.at(0).to_s || '0' %>
             -
            <%= fixture.results.group('winner_id').count('id').values.sort.reverse.at(1).to_s || '0' %></td>
    <% else %>  
        <td></td><td></td>
    <% end %>
    <td><%= link_to 'Show', fixture %></td>
    <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
    <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fixture', new_fixture_path %>
