<% @fixtures.each do |mode, fixtures| %>
    <h1>Listing <%= mode %> fixtures</h1>

    <table class='table table-striped table-hover table-responsive'>
      <tr>
        <th>Competent1</th>
        <th>Competent2</th>
        <th>Match date</th>
        <th>Match time</th>
        <th>Set Winner</th>
        <th>Set diff</th>
        <th>Referee</th>
        <th>Stage</th>
        <th></th>
        <% if user_signed_in? %>
        <th></th>
        <th></th>
        <% end %>
      </tr>

    <% fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.competent1 %></td>
        <td><%= fixture.competent2 %></td>
        <td><%= fixture.match_date.to_s(:long) %></td>
        <td><%= fixture.match_time.to_s(:time) %></td>
        <% if !fixture.results.empty? %>
            <td><%= fixture.winner.try(:name) %></td>
            <td><% x = fixture.results.group('winner_id').count('id').values.sort.reverse.at(0).to_s %>
                <%= x.strip.empty? ? '0' : x %>
                 -
                <% y = fixture.results.group('winner_id').count('id').values.sort.reverse.at(1).to_s %>
                <%= y.strip.empty? ? '0' : y %></td>
        <% else %>  
            <td></td><td></td>
        <% end %>
        <td><%= fixture.referee %></td>
        <td><%= fixture.stage %></td>
        <td><%= link_to 'Results', fixture_results_path(fixture) %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
        <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
    </table>
    <br />
    <br />
<% end %>

<br />
<% if user_signed_in? %>
    <%= link_to 'New Fixture', new_fixture_path %>
<% end %>

