<p id="notice"><%= notice %></p>

<p>
  <b>Competent1:</b>
  <%= @fixture.competent1 %>
</p>

<p>
  <b>Competent2:</b>
  <%= @fixture.competent2 %>
</p>

<p>
  <b>Referee:</b>
  <%= @fixture.referee %>
</p>

<p>
  <b>match_date:</b>
  <%= @fixture.match_date.to_s(:long) %>
</p>

<p>
  <b>match_time:</b>
  <%= @fixture.match_time.to_s(:time) %>
</p>

<p>
  <b>match_begin:</b>
  <%= @fixture.match_begin %>
</p>


<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
