<h1>Fixtures</h1>

<table>
  <tr>
    <th>Competent1</th>
    <th>Competent2</th>
    <th>Match date</th>
    <th>Match time</th>
    <th>Match begin</th>
    <th>Set Winner</th>
    <th>Set diff</th>
    <th>Referee</th>    
  </tr>

<% @fixtures.each do |fixture| %>
  <tr style="text-align: center">
    <td><%= fixture.competent1 %></td>
    <td><%= fixture.competent2 %></td>
    <td><%= fixture.match_date.to_s(:long) %></td>
    <td><%= fixture.match_time.to_s(:time) %></td>
    <td><%= fixture.match_begin %></td>
    <% if !fixture.results.empty? %>
        <td><%= Competent.find(fixture.results.group_by(&:winner_id).map {|k, v| {k => v.length}}.sort_by {|s| s.values.first}.reverse.first.keys.first).name %></td>
        <td><%= fixture.results.group('winner_id').count('id').values.sort.reverse.at(0).to_s || '0' %>
             -
            <%= fixture.results.group('winner_id').count('id').values.sort.reverse.at(1).to_s || '0' %></td>
    <% else %>  
        <td></td><td></td>
    <% end %>
    <td><%= fixture.referee %></td>
  </tr>
<% end %>
</table>