<%= form_for([@fixture, @result], html: {class: 'form-horizontal'}) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :match_number %>
  <div class="form-group">
    <%= f.label :winner, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.radio_button :winner_id, @fixture.competent1.id %> <%= @fixture.competent1 %>
      <%= f.radio_button :winner_id, @fixture.competent2.id %> <%= @fixture.competent2 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ball_in_table, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :ball_in_table %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
