<%= form_for([@fixture, @result]) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :match_number %>

  <div class="field">
    <%= f.label :winner %><br />
    <%= f.radio_button :winner_id, @fixture.competent1.id %> <%= @fixture.competent1 %>
    <%= f.radio_button :winner_id, @fixture.competent2.id %> <%= @fixture.competent2 %>
  </div>
  <div class="field">
    <%= f.label :ball_in_table %><br />
    <%= f.number_field :ball_in_table %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
